*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial;
  background-color: #666666;
  text-align: center;

}
#askType{
  display: block;
}
.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px ;
  margin-bottom: 3%;
}
.showcase {
  height: 300px;
}

.showcase h1{
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation: heading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes heading {
  0%   { top: -50px  }
  100% { top: 200px}
}

.content1{
  position: relative;
  animation-name: animationContent1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes animationContent1 {
  0%   { right: -1000px  }
  100% { right: 0px}
}
.content2{
  position: relative;
  animation-name: animationContent2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes animationContent2 {
  0%   { left: -1000px  }
  100% { left: 0px}
}

#inputs{
  display: inline-block;
}

#askName{
  display: none;
}
#askMailAdress{
  display: none;
}
#askPhoneNumber{
  display: none;
}
#askActivities{
  display: none;
}
#thankYou{
  display: none;
}

