.borderMainTitle{
  background-image: url('../brackets.png');
  background-size: 100% 100%;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;

}

.titleSaveTechnologies{
  color: #929292;
  font-size: 2em;
  text-align: center;
}
.logo_landing{
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;
}
.button {

  margin-top: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.rec{

  margin-left: 5%;
  margin-top: 1%;
  display: flex;

}

.RecText{
  width:20px;
  height:20px;
}
.test{
  font-size: 100%;
}
.redpoint{
  margin-left: 1%;
  background:red;
  border-radius:50%;
  width:20px;
  height:20px;
  animation-name: clignote;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes clignote {
  0% {background-color: red}
  90% {background-color: red}
  100% {background-color: white}
}

.gif{
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
  width: 20%;
  height: 20%;
}
